# EDA (Denny's)
The goal of this notebook is to investigate the data. We can answer the following questions

0. Load data and imports
1. Define key metrics
2. perform eda
3. what data is available
4. visualize the data

# 0. Load data and imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
os.chdir('..')
os.getcwd()

'/home/denny/Documents/mids/ev_charging'

In [3]:
HOME_PATH = os.getcwd()
print(HOME_PATH)

/home/denny/Documents/mids/ev_charging

In [22]:
# get dataframes by reading all parquet files in a directory
# https://stackoverflow.com/a/66104513
df = pd.read_parquet('data/ACN-API/jpl/')
df.shape

(33587, 12)

In [36]:
df.reset_index(drop=True, inplace=True)
df.head()

,_id,userInputs,sessionID,stationID,spaceID,siteID,clusterID,connectionTime,disconnectTime,kWhDelivered,doneChargingTime,userID
0,5c36621bf9af8b4639a8e0b4,None,1_1_179_800_2018-09-05 11:04:12.876087,1-1-179-800,AG-3F32,1,1,2018-09-05 04:04:13-07:00,2018-09-05 12:09:35-07:00,9.583,None,None
1,5c36621bf9af8b4639a8e0b5,"[{'userID': 333, 'milesRequested': 20, 'WhPerM...",1_1_179_794_2018-09-05 11:08:08.945820,1-1-179-794,AG-3F20,1,1,2018-09-05 04:08:09-07:00,2018-09-05 07:09:02-07:00,7.114,None,000000333
2,5c36621bf9af8b4639a8e0b6,"[{'userID': 371, 'milesRequested': 20, 'WhPerM...",1_1_179_797_2018-09-05 12:35:14.070250,1-1-179-797,AG-3F23,1,1,2018-09-05 05:35:14-07:00,2018-09-05 17:30:12-07:00,11.774,None,000000371
3,5c36621bf9af8b4639a8e0b7,"[{'userID': 405, 'milesRequested': 20, 'WhPerM...",1_1_179_781_2018-09-05 12:51:31.050539,1-1-179-781,AG-3F31,1,1,2018-09-05 05:51:31-07:00,2018-09-05 15:32:58-07:00,6.280,None,000000405
4,5c36621bf9af8b4639a8e0b8,"[{'userID': 368, 'milesRequested': 20, 'WhPerM...",1_1_179_787_2018-09-05 13:08:27.901538,1-1-179-787,AG-3F16,1,1,2018-09-05 06:08:28-07:00,2018-09-05 16:32:52-07:00,7.022,None,000000368

In [39]:
df

,_id,userInputs,sessionID,stationID,spaceID,siteID,clusterID,connectionTime,disconnectTime,kWhDelivered,doneChargingTime,userID
0,5c36621bf9af8b4639a8e0b4,None,1_1_179_800_2018-09-05 11:04:12.876087,1-1-179-800,AG-3F32,1,1,2018-09-05 04:04:13-07:00,2018-09-05 12:09:35-07:00,9.583,None,None
1,5c36621bf9af8b4639a8e0b5,"[{'userID': 333, 'milesRequested': 20, 'WhPerM...",1_1_179_794_2018-09-05 11:08:08.945820,1-1-179-794,AG-3F20,1,1,2018-09-05 04:08:09-07:00,2018-09-05 07:09:02-07:00,7.114,None,000000333
2,5c36621bf9af8b4639a8e0b6,"[{'userID': 371, 'milesRequested': 20, 'WhPerM...",1_1_179_797_2018-09-05 12:35:14.070250,1-1-179-797,AG-3F23,1,1,2018-09-05 05:35:14-07:00,2018-09-05 17:30:12-07:00,11.774,None,000000371
3,5c36621bf9af8b4639a8e0b7,"[{'userID': 405, 'milesRequested': 20, 'WhPerM...",1_1_179_781_2018-09-05 12:51:31.050539,1-1-179-781,AG-3F31,1,1,2018-09-05 05:51:31-07:00,2018-09-05 15:32:58-07:00,6.280,None,000000405
4,5c36621bf9af8b4639a8e0b8,"[{'userID': 368, 'milesRequested': 20, 'WhPerM...",1_1_179_787_2018-09-05 13:08:27.901538,1-1-179-787,AG-3F16,1,1,2018-09-05 06:08:28-07:00,2018-09-05 16:32:52-07:00,7.022,None,000000368
...,...,...,...,...,...,...,...,...,...,...,...,...
33582,5c53a175f9af8b6d3610f46e,"[{'userID': 1281, 'milesRequested': 250, 'WhPe...",1_1_191_793_2019-01-15 15:24:35.215349,1-1-191-793,AG-4F38,1,1,2019-01-15 07:24:35-08:00,2019-01-15 16:01:48-08:00,51.575,2019-01-15 15:41:42-08:00,000001281
33583,5c53a175f9af8b6d3610f46f,"[{'userID': 423, 'milesRequested': 100, 'WhPer...",1_1_179_779_2019-01-15 15:27:07.899402,1-1-179-779,AG-3F17,1,1,2019-01-15 07:27:08-08:00,2019-01-15 18:59:27-08:00,35.126,2019-01-15 13:32:49-08:00,000000423
33584,5c53a175f9af8b6d3610f470,"[{'userID': 382, 'milesRequested': 40, 'WhPerM...",1_1_191_782_2019-01-15 15:27:53.128295,1-1-191-782,AG-4F50,1,1,2019-01-15 07:27:53-08:00,2019-01-15 09:34:43-08:00,6.295,2019-01-15 09:34:38-08:00,000000382
33585,5c53a175f9af8b6d3610f471,"[{'userID': 1627, 'milesRequested': 20, 'WhPer...",1_1_191_807_2019-01-15 15:29:22.113643,1-1-191-807,AG-4F47,1,1,2019-01-15 07:29:22-08:00,2019-01-15 19:12:15-08:00,6.911,2019-01-15 11:59:21-08:00,000001627
33586,5c53a175f9af8b6d3610f472,"[{'userID': 526, 'milesRequested': 60, 'WhPerM...",1_1_191_812_2019-01-15 15:31:44.928846,1-1-191-812,AG-4F46,1,1,2019-01-15 07:31:45-08:00,2019-01-15 17:09:15-08:00,4.786,2019-01-15 08:30:04-08:00,000000526

# Convert times
Something is off about the time zone, so I made it utc to stop throwing errors. not my best idea but it works for now

In [44]:
df['connectionTime'] = pd.to_datetime(df.loc[:,'connectionTime'], utc=True, errors='coerce')
df['disconnectTime'] = pd.to_datetime(df.loc[:,'disconnectTime'], utc=True, errors='coerce')
df['doneChargingTime'] = pd.to_datetime(df.loc[:,'doneChargingTime'], utc=True, errors='coerce')
df.info()
# df.loc[0,:]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33587 entries, 0 to 33586
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               33587 non-null  object
 1   userInputs        31410 non-null  object
 2   sessionID         33587 non-null  object
 3   stationID         33587 non-null  object
 4   spaceID           33587 non-null  object
 5   siteID            33587 non-null  int64
 6   clusterID         33587 non-null  int64
 7   connectionTime    33587 non-null  datetime64[ns, UTC]
 8   disconnectTime    33587 non-null  datetime64[ns, UTC]
 9   kWhDelivered      33587 non-null  float64
 10  doneChargingTime  31550 non-null  datetime64[ns, UTC]
 11  userID            31410 non-null  object
dtypes: datetime64[ns, UTC](3), float64(1), int64(2), object(6)
memory usage: 3.1+ MB

# Convert User Inputs
process taken from here:

https://stackoverflow.com/a/41970572

In [90]:
df['userInputs'].head()

0                                                 None
1    [{'userID': 333, 'milesRequested': 20, 'WhPerM...
2    [{'userID': 371, 'milesRequested': 20, 'WhPerM...
3    [{'userID': 405, 'milesRequested': 20, 'WhPerM...
4    [{'userID': 368, 'milesRequested': 20, 'WhPerM...
Name: userInputs, dtype: object

In [80]:
df['userInputs'].head()
df.loc[1:3,'userInputs'].apply(eval).apply(lambda x: x[0]).loc[1:3].apply(pd.Series)

,userID,milesRequested,WhPerMile,minutesAvailable,modifiedAt,paymentRequired,requestedDeparture,kWhRequested
1,333,20,400,277,"Wed, 05 Sep 2018 11:08:31 GMT",True,"Wed, 05 Sep 2018 15:45:09 GMT",8.0
2,371,20,400,60,"Wed, 05 Sep 2018 12:35:16 GMT",True,"Wed, 05 Sep 2018 13:35:14 GMT",8.0
3,405,20,600,583,"Wed, 05 Sep 2018 12:52:29 GMT",True,"Wed, 05 Sep 2018 22:34:31 GMT",12.0

In [92]:
def convert_userInputs(x):
    """could do try except block instead"""
    # x is a string of a list of dictionaries, like this
    # '[{'userID': 333, 'milesRequested': 20, 'WhPerMile': 400, 'minutesAvailable': 277, 'modifiedAt': 'Wed, 05 Sep 2018 11:08:31 GMT', 'paymentRequired': True, 'requestedDeparture': 'Wed, 05 Sep 2018 15...}]'
    if x:
        x = eval(x) # convert string to list
        x = x[0] # get first and only entry in list (a dictionary)
        return pd.Series(x) # convert dictionary to a series
    else: # x is none
        none_record = {'userID':None, 
                       'milesRequested':None,
                       'WhPerMile':None,
                       'minutesAvailable':None,
                       'modifiedAt':None,
                       'paymentRequired':None,
                       'requestedDeparture':None,
                       'kWhRequested':None
                       }
        return pd.Series(none_record)

In [91]:
df.loc[0:30,'userInputs'].apply(convert_userInputs)

,userID,milesRequested,WhPerMile,minutesAvailable,modifiedAt,paymentRequired,requestedDeparture,kWhRequested
0,NaN,NaN,NaN,NaN,None,None,None,NaN
1,333.0,20.0,400.0,277.0,"Wed, 05 Sep 2018 11:08:31 GMT",True,"Wed, 05 Sep 2018 15:45:09 GMT",8.0
2,371.0,20.0,400.0,60.0,"Wed, 05 Sep 2018 12:35:16 GMT",True,"Wed, 05 Sep 2018 13:35:14 GMT",8.0
3,405.0,20.0,600.0,583.0,"Wed, 05 Sep 2018 12:52:29 GMT",True,"Wed, 05 Sep 2018 22:34:31 GMT",12.0
4,368.0,20.0,400.0,119.0,"Wed, 05 Sep 2018 13:08:48 GMT",True,"Wed, 05 Sep 2018 15:07:28 GMT",8.0
5,334.0,50.0,400.0,569.0,"Wed, 05 Sep 2018 13:10:45 GMT",True,"Wed, 05 Sep 2018 22:39:14 GMT",20.0
6,322.0,20.0,250.0,60.0,"Wed, 05 Sep 2018 13:23:51 GMT",True,"Wed, 05 Sep 2018 14:23:45 GMT",5.0
7,356.0,50.0,200.0,435.0,"Wed, 05 Sep 2018 13:24:37 GMT",True,"Wed, 05 Sep 2018 20:39:06 GMT",10.0
8,169.0,40.0,600.0,403.0,"Wed, 05 Sep 2018 13:25:22 GMT",True,"Wed, 05 Sep 2018 20:08:05 GMT",24.0
9,378.0,150.0,250.0,502.0,"Wed, 05 Sep 2018 13:41:43 GMT",True,"Wed, 05 Sep 2018 22:01:50 GMT",37.5
10,NaN,NaN,NaN,NaN,None,None,None,NaN
11,NaN,NaN,NaN,NaN,None,None,None,NaN
12,NaN,NaN,NaN,NaN,None,None,None,NaN
13,NaN,NaN,NaN,NaN,None,None,None,NaN
14,NaN,NaN,NaN,NaN,None,None,None,NaN
15,NaN,NaN,NaN,NaN,None,None,None,NaN
16,NaN,NaN,NaN,NaN,None,None,None,NaN
17,NaN,NaN,NaN,NaN,None,None,None,NaN
18,416.0,20.0,300.0,214.0,"Wed, 05 Sep 2018 19:20:27 GMT",True,"Wed, 05 Sep 2018 22:53:31 GMT",6.0
19,NaN,NaN,NaN,NaN,None,None,None,NaN
20,393.0,20.0,250.0,60.0,"Wed, 05 Sep 2018 20:10:05 GMT",True,"Wed, 05 Sep 2018 21:09:43 GMT",5.0
21,379.0,20.0,275.0,60.0,"Wed, 05 Sep 2018 21:36:06 GMT",True,"Wed, 05 Sep 2018 22:35:26 GMT",5.5
22,420.0,20.0,400.0,67.0,"Wed, 05 Sep 2018 22:29:02 GMT",True,"Wed, 05 Sep 2018 23:34:31 GMT",8.0
23,NaN,NaN,NaN,NaN,None,None,None,NaN
24,NaN,NaN,NaN,NaN,None,None,None,NaN
25,NaN,NaN,NaN,NaN,None,None,None,NaN
26,NaN,NaN,NaN,NaN,None,None,None,NaN
27,NaN,NaN,NaN,NaN,None,None,None,NaN
28,NaN,NaN,NaN,NaN,None,None,None,NaN
29,NaN,NaN,NaN,NaN,None,None,None,NaN
30,371.0,40.0,600.0,720.0,"Thu, 06 Sep 2018 12:43:31 GMT",True,"Fri, 07 Sep 2018 00:43:27 GMT",24.0

In [94]:
pd.concat([df.drop(columns='userInputs'), df['userInputs'].apply(convert_userInputs)], axis=1).columns

Index(['_id', 'sessionID', 'stationID', 'spaceID', 'siteID', 'clusterID',
       'connectionTime', 'disconnectTime', 'kWhDelivered', 'doneChargingTime',
       'userID', 'userID', 'milesRequested', 'WhPerMile', 'minutesAvailable',
       'modifiedAt', 'paymentRequired', 'requestedDeparture', 'kWhRequested'],
      dtype='object')

# 1. Define key metrics
Total charges
What is the date range of charges
How many unique cars are there?
What are the locations of charging
What is the distribution of charges over time
What is the distribution of charges over the hours of a day
What is the distribution of charges by vehicle
What is the distribution of charges over location
Is the rate of charging the same for a vehicle
Does the energy of daily charging change over time
Do the number of charges change over time