In [1]:
import os
if 'src' == os.getcwd().split('/')[-1]: os.chdir('..')
if 'ev_charging' == os.getcwd().split('/')[-1]: print('in the right place!')
else: os.chdir('/Users/varunvenkatesh/Documents/Github/ev_charging')
os.getcwd()

in the right place!

'/home/denny/Documents/mids/ev_charging'

In [2]:
import pandas as pd
from src.data_preprocessing import holiday_processing, holiday_processing_series

In [3]:
df_of = pd.read_parquet('data/ACN-API/office001/').reset_index(drop=True)

In [4]:
# holiday_processing(df_of)
X = pd.DataFrame(index=pd.date_range('2019-03-25','2021-09-12', inclusive='both', freq='h', tz=0),columns=['dow','hour','month'])
X = holiday_processing(X)
X.is_holiday.sum()

576

In [5]:
print('santa\'s coming')
X[X.index >'2019-12-24 22:00:00']

santa's coming

                           dow hour month  is_holiday
2019-12-24 23:00:00+00:00  NaN  NaN   NaN       False
2019-12-25 00:00:00+00:00  NaN  NaN   NaN        True
2019-12-25 01:00:00+00:00  NaN  NaN   NaN        True
2019-12-25 02:00:00+00:00  NaN  NaN   NaN        True
2019-12-25 03:00:00+00:00  NaN  NaN   NaN        True
...                        ...  ...   ...         ...
2021-09-11 20:00:00+00:00  NaN  NaN   NaN       False
2021-09-11 21:00:00+00:00  NaN  NaN   NaN       False
2021-09-11 22:00:00+00:00  NaN  NaN   NaN       False
2021-09-11 23:00:00+00:00  NaN  NaN   NaN       False
2021-09-12 00:00:00+00:00  NaN  NaN   NaN       False

[15050 rows x 4 columns]

In [6]:
X = pd.DataFrame(index=pd.date_range('2019-12-24','2019-12-26', inclusive='both', freq='h', tz=0),columns=['dow','hour','month'])
holiday_processing_series(X.index.min(), X.index.max(), X.index)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False])

In [7]:
import datetime
start, end = (datetime.date(2019, 3, 25), datetime.date(2021, 9, 12))

In [8]:
x = pd.DataFrame(index=pd.date_range(start, end, inclusive='both', freq='h', tz=0),
                 columns=['dow', 'hour', 'month', 'is_sunny'])
x['dow'] = x.index.dayofweek
x['hour'] = x.index.hour
x['month'] = x.index.month
x['is_sunny'] = 0

In [11]:
# x['is_holiday'] = (
holiday_processing(x)

                           dow  hour  month  is_sunny  is_holiday
2019-03-25 00:00:00+00:00    0     0      3         0       False
2019-03-25 01:00:00+00:00    0     1      3         0       False
2019-03-25 02:00:00+00:00    0     2      3         0       False
2019-03-25 03:00:00+00:00    0     3      3         0       False
2019-03-25 04:00:00+00:00    0     4      3         0       False
...                        ...   ...    ...       ...         ...
2021-09-11 20:00:00+00:00    5    20      9         0       False
2021-09-11 21:00:00+00:00    5    21      9         0       False
2021-09-11 22:00:00+00:00    5    22      9         0       False
2021-09-11 23:00:00+00:00    5    23      9         0       False
2021-09-12 00:00:00+00:00    6     0      9         0       False

[21649 rows x 5 columns]